@charset "UTF-8";

/* Externa imports (i vårt fall typsnitt) */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem; /* =16px */
    line-height: 1.5;
}

.container {
    grid-template-rows: auto 1fr auto;  /* Header, content, footer */
    display: grid;
    background-color: #f0f0f0;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);  /* Skugga nedåt 50% genomskinlighet */
    min-height: 100vh;
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500; /* Alla rubriker är mediumtjocka som standard */
}

h1, h2, h3 {
    margin-top: 2rem;
}

p {
    margin-bottom: 0.5rem;
}

a {
    color: #372404;
}

/* GENERICS */
.m-std {
    margin: 2rem;
}

/* HEADER */
header {
    background-color: #e8d2af;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-box {
    background-image: url("../images/header-bg.jpg");
    background-repeat: no-repeat; /* Bakgrundsbilden ska inte repetera (tänk bakgrund i Windows 3.1) */
    background-position: center; /* Bakgrundbildens viktigaste innehåll är mitten, se till att det syns */
    background-size: 100% auto;
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.img-logo {
    max-width: 100%;
}

.img-responsive {
    width: 100%;
}

nav {
    background-color: #e8d2af;
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    font-weight: 500; /* Alla rubriker är mediumtjocka som standard */
}

nav li {
    white-space: nowrap;
}

nav a {
    color: #000;
    text-decoration: none;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    padding-left: 2rem;
    padding-right: 2rem;
}

/* CONTENT */
.sub-header {
    
}

.content-box {
    background-color: #fff;
    padding: 2rem;
    height: 100%;
    overflow: hidden;
}

.content-box-image {
    max-width: 350px;
}

.content-box-image-wrapper {
    display: flex;
    float: right;
    flex-direction: column;
}

.content-box-image-wrapper > * {
    margin-left: 1rem;
}

/* FOOTER */

footer {
    background-color: #e8d2af;
    padding: 2rem;
    font-size: 1.5rem;
}

footer h3 {
    font-size: 2rem;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer li {
    margin-bottom: 1rem;
}


/* Responsive hacks */
@media screen and (max-width: 600px) {
    .content-box-image {
        max-width: 100%;
    }

    .content-box-image-wrapper {
        margin-bottom: 1rem;    
    }

    .content-box-image-wrapper > * {
        margin: 0;
        float: none;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }
}
