<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Ringarundan{% if self.title() %} - {% block title %}{% endblock %}{% endif %}</title>
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="icon" href="images/favicon.svg" />

  </head>

  <body>
    <div class="container">
      <header>
        <div class="logo-box">
          <a href="index.html">
            <img class="img-logo" src="images/logo.svg" alt="Ringarundan - en promenad för alla" />
          </a>
        </div>
        <nav>
          <ul>
            <li><a href="index.html">STARTSIDA</a></li>
            <li><a href="karta.html">KARTA</a></li>
            <li><a href="ga_tillsammans.html">GÅ TILLSAMMANS</a></li>
            <li><a href="anordna.html">ANORDNA EN RUNDA</a></li>
          </ul>
        </nav>
        {% block header_end %}{% endblock %}
      </header>

      <main>
        {% block content %}{% endblock %}
      </main>
      
      <footer>
        <h3>Kontakt</h3>
        <ul>
          <li>Niclas Nilsson | 0704-71 32 86</li>
          <li>Jacob Sernheim | 0121-30772</li>
        </ul>
      </footer>
    </div>
    <script src="js/scripts.js"></script>
  </body>
</html>
