{% extends "_base.html" %}

{% block header_end %}
{% endblock %}

{% block title %}Anordna Ringarundan{% endblock %}

{% block content %}
<section class="content-box">
  <h1>Var med och anordna Ringarundan</h1>
  <p>
    Alla kyrkor och föreningar som finns i Ringarum är välkomna att
    hjälpa till med att ta fram stationer. Ni väljer innehåll själva,
    men tänk på att rundan inte är till för att provocera, välj sådant
    vi alla kan stå för. Mer riktlinjer finns under rubriken
    <a href="#nedladdningsbart">länkar och nedladdningsbart</a>.
  </p>
  <h2>Hur vet jag vilka veckor som är lediga?</h2>
  <p>
    Det finns en lista nedan. Bli inte orolig över att alla veckor ser
    ut att vara fyllda. Planeringen är bara preliminär och det finns
    en väldigt god chans att vi kan lägga in din förening. Håll
    särskilt utkik efter veckor som saknar tema i listan.
  </p>
  <h2>Hur gör jag sedan?</h2>
  <p>
    Kontakta någon av oss som är med och anordnar
    Ringarundan. Telefonnummer finns längst ner på den här sidan.
  </p>
  <h2 id="nedladdningsbart">Länkar och nedladdningsbart</h2>
  <ul>
    <li>
      <a
          href="https://docs.google.com/spreadsheets/d/1sliFQ1dvqTTr2QSBXxcxhM1rTANh1w1n2tB9ePMt3Lw/edit?usp=sharing"
          target="_blank"
      >Lista över veckor</a>
    </li>
    <li>
      <a
          href="/downloadable/ringarundan-riktlinjer.pdf"
      >Riktlinjer</a> (PDF)
    </li>
    <li>
      <a href="/downloadable/ringarundan-mall-kyrkor-v4.dotx" download>Kyrkornas mall</a> (Word)
    </li>
    <li>
      <a href="/downloadable/ringarundan-mall-forening-v4.dotx" download>Mall för övriga</a> (Word)
    </li>
  </ul>
    
</section>
{% endblock %}
