{% extends "_base.html" %}

{% block header_end %}
{% endblock %}

{% block content %}
<section class="content-box">
  <div class="content-box-image-wrapper">
    <img
        class="content-box-image"
        src="images/stationshus.jpg"
        alt="Exempel på Ringarundanskylt"
    />
    <figcaption><i>Foto: Helén Gustavsson</i></figcaption>
  </div>
  <h2>Det är alltid roligare att gå tillsammans!</h2>
  <p>Vi vandrar gemensamt varje jämn vecka, torsdag klockan 10.00. Start vid stationshuset.</p>
  <p><strong>Det är bara att dyka upp!</strong></p>
</section>
{% endblock %}
