{% extends "_base.html" %}

{% block header_end %}
{% endblock %}

{% block content %}
<section class="content-box">
  <div class="content-box-image-wrapper">
    <img
        class="content-box-image"
        src="images/skylt.jpg"
        alt="Exempel på Ringarundanskylt"
    />
  </div>
  <h1>Vad är Ringarundan?</h1>
  <p>
    Ringarundan är ett antal skyltar som är uppsatta utmed en 2-3
    kilometer lång slinga i samhället Ringarum. Gå den gärna själv
    och fundera, eller varför inte gå den med en vän?
  </p>
  <h2>Hur ofta byts innehållet?</h2>
  <p>Skyltarna byts ut var fjortonde dag.</p>
  <h2>Vilka står bakom Ringarundan?</h2>
  <p>
    <a href="https://sionringarum.se" target="_blank">Sionkyrkan</a> och
    <a href="https://www.svenskakyrkan.se/valdemarsvikringarum" target="_blank">
      Svenska kyrkan</a> har gemensamt satt upp tavlorna och står ofta
    för stationerna. Men alla föreningar i samhället är inbjudna att
    vara med att ta ansvar för en eller flera Ringarundan.
  </p>
  <p>
    Om din förening vill vara med att anordna Ringarundan finns mer
    information på en särskild <a href="anordna.html">anordna-sida.</a>
  </p>
</section>
{% endblock %}
