{% extends "_base.html" %}

{% block header_end %}
{% endblock %}

{% block title %}Hitta Ringarundan{% endblock %}

{% block content %}
<section class="content-box">
  <h1>Hitta Ringarundan</h1>
  <p>
    Ett enkelt sätt att hitta Ringarundan är att öppna upp den i
    Google maps på din telefon. Du behöver appen Google Maps (den är
    ofta förinstallerad på Androidtelefoner). Klicka sedan länken:
  </p>
  <p><a href="https://goo.gl/maps/2y5K55ASMoJz3CSU6" target="_blank">Ringarundan på Google maps</a></p>
  <h2>Kartbild</h2>
  <img class="img-responsive" src="images/karta.jpg" alt="Kartbild" />
    
</section>
{% endblock %}
